---
layout: default
---
{{content}}
<h2>Professional Self-Assessment</h2>
<p>The coursework throughout the Computer Science program and Computer Science capstone course have allowed me to 
  sharpen and showcase my technological strengths, explore different branches of the field, and make me 
  more of an asset to future employers. Throughout this program, I have learned how to troubleshoot stubborn scripts 
  through static code reviews, using a debugger, and communicating with fellow classmates and faculty members. I’ve 
  collaborated in a team’s environment simulating a SCRUM sprint, participating in discussion boards, and professionally 
  leaving comments in my code. To communicate better with future stakeholders, I’ve been proactive in reaching out to 
  instructors with questions on project requirements and orally described current code and future enhancements in code 
  reviews. I have worked with both SQL and NoSQL databases and connected them to user-facing applications by developing 
  API’s and correctly installing database drivers. External libraries were managed and installed using packet managers, 
  such as vckpg. Using Big O notation and concepts of time and space complexity, I’ve identified the best algorithm and 
  data structure to use based on the project’s requirements and scope. Finally, security has been prioritized by 
  implementing user authentication through usernames and passwords, and storing sensitive data in secure, encrypted 
  locations.</p>
<p>The three artifacts within this portfolio demonstrate some of my computer science abilities. Enhancement one rewrites 
  a previous program from java into C++ and takes advantage of object orientated programming to create new animal 
  objects. It shows modular development within the classes and files, and use of innovative techniques to implement 
  computer solutions and achieve software requirements. Enhancement two builds off enhancement one by implementing a 
  binary search tree. The tree stores dog and monkey objects more efficiently than the previous vector implementation. 
  This enhancement considers time complexity and tradeoffs in design choice. Originally, I believed a hash table would 
  be the best option. However, upon further evaluation, I realized a hash table would not be possible to implement and 
  had to decide on the alternative binary search tree. Finally, enhancement three built off enhancement one and 
  connected the program to a MongoDB database. It is only accessible through correct username and password input, 
  which is not hardcoded or stored in the script. New dogs and monkeys can be created, read, and updated using the 
  API’s CRUD functions and changes will be stored in the database. Even after the program ends, changes will be 
  maintained upon next program launch. All enhanced artifacts are user-friendly and intuitive.</p>
<br><br>
<h2>Code Review</h2>
<div style="position: relative; width: 100%; padding-bottom: 56.25%">
<iframe src="https://www.youtube.com/embed/SmKsixObkcQ" 
        title="Code Review" frameborder="0" allowfullscreen
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        style="position: absolute; width: 100%; height: 100%;">
</iframe>
</div>


{%- if site.posts.size > 0 -%}
    
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
          {{ post.excerpt }}
      </li>
      {%- endfor -%}
    </ul>
{%- endif -%}